html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    background-color: rgb(254, 235, 200);
}

header {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(201, 123, 33);
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    width: 25%;
}

.Menu ul {
    display: flex;
    list-style-type: none;

}

.Menu li a {
    color: rgba(0, 0, 0, 0.692);
    text-decoration: none;
    margin-right: 20px;
    font-size: 30px;
}

#introducao {
    display: flex;
    min-height: 250px;
    align-items: center;
}

#introducao div {
    width: 50%;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 50px;
}

#sobre-nos {
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(173, 113, 0);
    border-radius: 30px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    color: white;
}

#produtos {
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(255, 166, 0);
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#produtos h2 {
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
}

.conteudo-produtos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.produto {
    width: 200px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top: 25px;
}

footer p {
    margin: 0;
}

.direitos-autorais {
    padding-top: 25px;
    padding-bottom: 25px;
}

#form-contato {
    width: 60%;
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grupo{
    font-weight: bold;
    color: black;
}

.grupo input,
.grupo textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: aliceblue;
}

.grupo input:focus,
.grupo textarea:focus{
    border-color: chocolate;
    outline: none;
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: aliceblue;
    padding: 20px;
}

#contato button{
    width: 100%;
    max-width: 400px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(202, 104, 34);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3 ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contato button:hover{
    background-color: rgb(128, 67, 11);
}



@media (max-width: 875px) {
    #introducao {
        flex-direction: column;
        text-align: center;
    }

    #introducao div {
        padding-right: 0;
        padding-left: 0;
        width: 80%;
    }

    header {
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
    }

    .logo-header {
        width: 300px;
    }

    .conteudo-produtos {
        flex-direction: column;
        align-items: center;
    }

    #produtos {
        padding-left: 0;
        padding-right: 0;
    }

    .menu ul {
        padding-left: 0;
        margin: auto;
    }

    .produto {
        width: 80%;
    }

    #sobre-nos {
        text-align: center;
    }
}